<?xml version = "1.0" ?>
<launch>

<arg name="marker_size" default="4.5"/>　　	<!--4.4966为二维码的边长-->
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera/left/image_raw" />　　<!--设置接收图像的topic-->
	<arg name="cam_info_topic" default="/camera/left/camera_info" />  <!--设置接收相机信息的topic-->
	<arg name="output_frame" default="/left_frame" />                 <!--该参数为程序输出的参考坐标系名-->

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>
	
 
  
</launch>

